<div class="bio">
  <h5 class="name">JEN KINNEY</h5>
  <p><a href="mailto:jkjenkinney@gmail.com">jkjenkinney@gmail.com</a></p>
  <p>860 478 1410</p>
  <br />
  <p>Jen Kinney is a photographer and writer, currently living and working in Whittier, Alaska.</p>
  <br />

  <h5>EDUCATION</h5>
  <p>B.F.A. in Photography and Imaging, New York University, Tisch School of the Arts, 2012</p>

  <h5>GRANTS & AWARDS</h5>
  <table>
    <tr><td class="year">2013</td><td>Lange - Taylor Prize, Center for Documentary Studies, Duke University</td></tr>
    <tr><td class="year"></td><td>General Grant, Alaska Humanities Forum</td></tr>
    <tr><td class="year">2012</td><td>Honorarium from the Fund for Emerging Artists, New York University</td></tr>
    <tr><td></td><td>Recognition for Creative and Innovative Excellence, Tisch School of the Arts</td></tr>
    <tr><td class="year">2011</td><td>Thomas Drysdale Production Grant, Tisch School of the Arts</td></tr></table>
  </table>

  <h5>SOLO EXHIBITIONS</h5>
  <table>
    <tr><td class="year">2014</td><td>City Under One Roof, Alaska Humanities Forum, Anchorage, AK (upcoming)</td></tr>
    <tr><td class="year"></td><td>City Under One Roof, Center for Documentary Studies, Duke University, NC (upcoming)</td></tr>
    <tr><td class="year">2012</td><td>In Spite of Itself, Gallery 412, NYU, New York, NY</td></tr>
  </table>

  <h5>GROUP EXHIBITIONS</h5>
  <table>
    <tr><td class="year">2012</td><td>Aporetics, Post Crypt Gallery, Columbia University, New York, NY</td></tr>
    <tr><td class="year"></td><td>Dirty Werk, Littlefield, New York, NY</td></tr>
    <tr><td class="year"></td><td>Hitching SIgns, Senior B.F.A. Exhibition, Calumet Photographic, New York, NY</td></tr>
    <tr><td class="year"></td><td>The Fool and the World, Gulf + Western Gallery, New York, NY</td></tr>
  </table>

  <h5>PUBLICATIONS</h5>
  <table>
    <tr><td class="year">2014</td><td>I-REF. Photo Feature. Link. 28 July 2014. [Link](http://www.i-ref.de/2014/07/28/jennifer-kinney-city-under-one-roof/).</td></tr>
    <tr><td class="year"></td><td>This is Paper. Photo Feature. 27 July 2014. [Link](http://thisispaper.com/Jennifer-Kinney-City-Under-One-Roof).</td></tr>
    <tr><td class="year"></td><td>Business Insider. Photo Feature. 25 July 2014. [Link](http://www.businessinsider.com/whittier-alaska-photography-2014-7).</td></tr>
    <tr><td class="year"></td><td>Feature Shoot. Photo Du Jour. 7 July 2014. <a href="http://www.featureshoot.com/2014/07/photo-du-jour-pet-reindeer/">Link</a>.</td></tr>
    <tr><td class="year"></td><td>It's Nice That. Photo Feature. <a href="http://www.itsnicethat.com/articles/jen-kinney">Link</a>.</td></tr>
    <tr><td class="year"></td><td>Ain't Bad Magazine. Photo Feature. 11 June 2014. <a href="http://aintbadmagazine.com/filter/Article/Jen-Kinney">Link</a>.</td></tr>
    <tr><td class="year"></td><td>Yonder Journal. Photographs and Brief. 14 March 2014. <a href="http://www.yonderjournal.com/brief/turnagain-mud-flats">Link</a>.</td></tr>
    <tr><td class="year"></td><td>Lenscratch. Feature. March 10 2014. <a href="http://lenscratch.com/2014/03/jen-kinney/">Link</a>.</td></tr>
    <tr><td class="year"></td><td>High Country News. Feature. February 14 2014. <a href="http://www.hcn.org/articles/a-city-under-one-roof">Link</a>.</td></tr>
    <tr><td class="year"></td><td>Document. Feature. Winter 2014. <a href="http://www.cdsporch.org/archives/21071">Link</a>.</td></tr>
    <tr><td class="year">2013</td><td>Forum Magazine. Feature. Fall 2013. Print.</td></tr>
    <tr><td class="year"></td><td>The Turnagain Times. Various Newspaper Articles. Print.</td></tr>
    <tr><td class="year">2012</td><td>Satellite Magazine. Feature and Interview with Sarah Wesseler. December 2012. <a href="http://www.satellitemagazine.ca/2012/12/whittier-alaska/">Link</a>.</td></tr>
    <tr><td class="year"></td><td>ISO Magazine. Feature and Interview with Haley Stark. Spring 2012. <a href="http://issuu.com/isozine/docs/iso_spring12">Link</a>.</td></tr>
    <tr><td class="year"></td><td>CityWide. WNYU, New York. Interview with Luke Green. August 29 2012. Radio.</td></tr>
    <tr><td class="year">2011</td><td>Hitching Signs, series of self-published zines. Fall 2011. Print.</td></tr>
    <tr><td class="year">2009</td><td>Mercer Street. “On Timing.” Essay. Fall 2009. Print.</td></tr>
  </table>

  <h5>PRESS</h5>
  <table>
    <tr><td class="year"></td><td>CDS Porch, News from the Center for Documentary Studies. January 28 2014. <a href="http://www.cdsporch.org/archives/21287">Link</a>.</td></tr>
    <tr><td class="year"></td><td>PDN Pulse, Photo District News Blog. September 16 2014. <a href="http://pdnpulse.pdnonline.com/tag/jen-kinney">Link</a>.</td></tr>
    <tr><td class="year"></td><td>CDS Porch. Lange-Taylor Prize Announcement. November 13 2013. <a href="http://pdnpulse.pdnonline.com/tag/jen-kinney">Link</a>.</td></tr>
  </table>

</div>