<div class="bio">
    <h5 class="name">EMAIL: <a href="mailto:jkjenkinney@gmail.com">jkjenkinney@gmail.com</a></h5>
    <p>[Here's the best way to contact me]</p>

    <h5>BLOG: <a href="http://jkjenkinney.tumblr.com">jkjenkinney.tumblr.com</a></h5>
    <p>[Here's where I post photographs and writing, and updates on my work in Whittier, Alaska]</p>

    <h5>FOTOVISURA: <a href="http://jkjenkinney.fotovisura.com">jkjenkinney.fotovisura.com</a></h5>

    <h5>FACEBOOK: <a href="http://www.facebook.com/jennifer.kinney.359">facebook.com/jennifer.kinney.359</a></h5>
</div>