<div class="sidebar">
    <div class="hidden-xs">
        <div class="col-sm-3">
            <h4 class="logo"><a href="#/">JEN KINNEY</a></h4>
            <ul>
                <li><a href="#/city-under-one-roof">City Under One Roof</a></li>
                <li><a href="#/fool-and-the-world">Fool And The World</a></li>
                <li><a href="#/home-and-away">Home And Away</a></li>
                <li ><hr class="hidden-xs "/><br class="visible-xs"></li>
                <li><a href="#/about">About</a></li>
            </ul>
        </div>
    </div>

    <div class="visible-xs">
        <div class="col-xs-12 ">
        <h4 class="logo"><a href="#/">JEN KINNEY</a></h4>
        <ul>
            <li><a href="#/city-under-one-roof">City Under One Roof</a></li>
            <li><a href="#/fool-and-the-world">Fool And The World</a></li>
            <li><a href="#/home-and-away">Home And Away</a></li>
            <li><a href="#/about">About</a></li>
        </ul>
        </div>
    </div>
</div>