<div class="sidebar">
    <div class="col-sm-3 hidden-xs">
        <a href="#">
            <img class="logo" src="img/logo.png">
        </a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#/city-under-one-roof">City Under One Roof</a></li>
            <li><a href="#/fool-and-the-world">Fool And The World</a></li>
            <li ><hr class="hidden-xs "/><br class="visible-xs"></li>
            <li><a href="#/biography">Biography</a></li>
            <li><a href="#/contact">Contact</a></li>
            <li><a href="#/cv">CV</a></li>
        </ul>
    </div>
    <div class="visible-xs">
        <div class="col-xs-4">
            <a href="#">
                <img class="logo" src="img/logo.png">
            </a>
        </div>
        <div class="col-xs-4">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#/city-under-one-roof">City Under One Roof</a></li>
                <li><a href="#/fool-and-the-world">Fool And The World</a></li>
            </ul>
        </div>
        <div class="col-xs-4">
            <ul>
                <li><a href="#/biography">Biography</a></li>
                <li><a href="#/contact">Contact</a></li>
                <li><a href="#/cv">CV</a></li>
            </ul>
        </div>
    </div>
</div>